<footer id="footer" class="py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="text-center" id="nav-logo">
                <a href="/" class="logo-footer">
                  <span>Acidic Soltuions</span> 
                </a>
                <br>
                <span style="color:#fff; font-weight: bold;">We Are Here To Help!</span>
              </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0 text-center">
          <h5 class="mb-3">Navigation</h5>
          <ul class="list-unstyled footer-ul">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-4 text-center">
          <h5 class="mb-3">Legal</h5>
          <ul class="list-unstyled footer-ul">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-12 text-center">
          <p class="mb-0 pb-2">We specialize in finding and revitalizing value-added real estate opportunities to create thriving income properties and partner with qualified investors. Please note that investment is only offered to qualified investors through a written Investment Agreement or Private Placement Memorandum, and this is not a solicitation or offer of securities.</p>
          <p class="mb-0">© 2023 Acidic Solutions. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>