<% layout('layouts/boilerplate') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img src="Remodeled-home-exterior.webp" class="img-fluid mb-4 shadow" alt="Company Name">
    </div>
    <div class="col-md-6 mt-5">
      <h1 class="text-center">About Us</h1>
      <p>We are a team of dedicated professionals with a passion for real estate. Our mission is to provide exceptional service and deliver results that exceed our clients' expectations. With years of experience and a commitment to excellence, we are confident in our ability to help you achieve your real estate goals.</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <h2>Our Services</h2>
    <p>We specialize in finding value-added real estate opportunities and executing on those opportunities to revitalize our community. Our services include:</p>
    <div class="mt-5">
      <div class="row text-center">
        <div class="col-lg-4 mb-4">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Creative and Cash-based Property Acquisition</h5>
              <p class="card-text">We specialize in acquiring properties using creative and cash-based solutions. Our unique approach allows us to offer a range of real estate investment opportunities for both seasoned and first-time investors.</p>
            </div>
          </div>
          
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card shadow h-100">
            <div class="card-body">
              <h4 class="card-title">Real Estate Partnerships</h4>
              <p class="card-text">We're dedicated to helping others succeed in real estate investing. Let us partner with you to achieve your goals and build wealth through property ownership.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card shadow h-100">
            <div class="card-body">
              <h4 class="card-title">Expert Real Estate Consulting</h4>
              <p class="card-text">Our team has years of experience in all aspects of real estate. Let us guide you through the buying or selling process and help you make informed decisions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-5">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>Our Team</h2>
          <p class="lead">Our team is comprised of experienced professionals who are dedicated to providing exceptional service to our clients. With a focus on integrity, honesty, and transparency, we strive to build long-lasting relationships with our clients based on trust and mutual respect.</p>
        </div>
      </div>
    </div>
    <div class="my-5">
      <div class="row text-center">
        <div class="col-md-12 d-flex justify-content-center">
          <a href="/contact" class="btn btn-lg btn-primary btn-block w-25 p-3" style="font-weight: bold; font-size: 20px;">
            CONTACT US
          </a>  
        </div>
      </div>
    </div>
    
    
  </div>
</div>